include README.md
include LICENSE
include setup.py

include etc/*
include poem/apache/*
include cron/*
include bin/*

recursive-include poem/media *.css *.js *.jpg *.png *.gif
recursive-include poem/Poem/poem/templates *.html
recursive-include poem/Poem/poem/fixtures/ *.json
recursive-include poem/Poem/ *.json
recursive-include poem/Poem/ *.js
