django-ajax-selects==1.7.1
django-rest-auth==0.9.5
django-reversion==3.0.4
django-tenant-schemas==1.9.0
django-webpack-loader==0.6.0
django>=2.0,<2.1
djangorestframework==3.9.4
djangorestframework-api-key==0.3.1
djangosaml2==0.17.2
git+https://github.com/vrdel/django-reversion-compare
ndg-httpsclient==0.5.1
psycopg2<2.8
requests==2.22.0
unidecode==1.1.1
