{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content_title %}{% if title %}<h1 style="color:#1c3c78">Dashboard</h1>{% endif %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
Sorry, it appears you don't have permissions to perform requested operation. Please, contact {{ admin }} ({{ mail }}) and request needed permissions. The following permissions can be requested: add/change metrics, add profiles, change profiles, change only particular profile. 
{% endblock %}
