[GENERAL_TENANTNAME]
# Extra tenant GENERAL options may be defined here.

[SUPERUSER_TENANTNAME]
# Extra tenant SUPERUSER options may be defined here.

[SECURITY]
# Relative path to a file in this directory. Non-empty lines are appended to
# SECURITY.AllowedHosts from poem.conf.
AllowedHosts = allowed_hosts
