.row_red {
    background: none repeat scroll 0 0 #ffa0a0;
}

th, td {
  font-size: 14px;
}

/*td.field-service_flavour {
  width: 209px;
}

td.field-service_flavour input {
  width: 181px;
}*/

td.field-metric {
  width: 415px;
}

td.field-metric input {
  width: 371px;
}

td.field-fqan {
  width: 258px;
}

input#id_vo.ui-autocomplete-input {
 width: 200px;
}

td.field-fqan input {
  width: 228px;
}

#content {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#content-main {
  float: left;
  width: 1000px;
}

.namespace {
  vertical-align: middle;
  color: #666666;
  font-size: 12px;
  font-weight: bold !important;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
  margin-right: 180px;
}

select {
  width: 200px;
}

#changelist-filter {
  width: 150px;
  text-align: left;
}

