td.original p {
    visibility: hidden
}

fieldset.infoone label {
    width: 50px;
}

fieldset.infoone input#id_version {
    width: 50px;
}

fieldset.infoone input#id_new_version {
    width: 30px;
}

fieldset.infoone > div > div.field-new_version > div.help {
    margin-top: 2px;
    padding-left: 5px;
    margin-left: 0px;
}

fieldset.infoone > div > div.field-new_version > p.help {
    margin-top: 2px;
    padding-left: 0px;
    margin-left: 0px;
}

fieldset.infoone input#id_update_metric {
    width: 30px;
}

fieldset.infoone > div > div.field-update_metric > div.help {
    width: 130px;
    margin-top: 2px;
    padding-left: 5px;
    margin-left: 0px;
}

fieldset.infoone > div > div.field-update_metric > p.help {
    width: 130px;
    margin-top: 2px;
    padding-left: 0px;
    margin-left: 0px;
}

fieldset.infoone div.field-box.field-datetime {
    width: 220px;
}

div.field-datetime > div > label {
    width: 70px;
}

div.field-user > div > label {
    width: 70px;
}

div.field-datetime > div > p {
    margin-left: 168px;
}

div.field-user > div > p {
    margin-left: 168px;
}

fieldset.infoone .field-box.field-user p {
    width: 350px;
    margin-left: 10px;
}

fieldset.infoone > div > div > p.help {
    padding-left: 30px;
    margin-left: 30px;
}

fieldset.infoone > div > div > div.help {
    padding-left: 30px;
    margin-left: 30px;
}

div.results thead th:first-of-type {
    width: 150px;
}

div.results thead th:nth-of-type(2) {
    text-align: center;
    width: 80px;
}

div.results tbody td:nth-of-type(1) {
    text-align: center;
}

div.results tbody td:nth-of-type(2) {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
}

div.results thead th:last-of-type {
    width: 110px;
}

div.module table#change-history > tbody th:nth-of-type(1) {
    width: 50px;
    text-align: center;
}

div.module table#change-history > tbody th:nth-of-type(2) {
    width: 150px;
    text-align: left;
}

div.module table#change-history > tbody td:nth-of-type(1) {
    width: 100px;
    text-align: center;
}

#content {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#content-main {
    float: left;
    width: 1000px;
}

#changelist-filter {
    width: 150px;
    text-align: left;
}

.change-list tbody th a, td {
    font-size: 14px;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 180px;
}

select {
    background: #F6F6F6;
    min-width: 100px;
}

form .aligned ul {
    margin-left: 0;
    padding-left: 0;
}

td {
}
