td.original p {
    visibility: hidden
}

#content {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#content-main {
    float: center;
    width: 1000px;
}

fieldset.tagging input#id_name {
    width: 250px;
}

fieldset.tagging input#id_probeversion {
    width: 200px;
}

fieldset.tagging label {
    width: 50px;
    font-weight: bold;
    color: #000000;
}

fieldset.docurl label {
    width: 130px;
}

fieldset.docurl input {
    width: 780px;
}

.aligned label {
    display: block;
    padding: 2px 10px 0px 0px;
}

fieldset.docurl > div > div > div.help {
    padding-left: 130px;
    margin-left: 10px;
}

fieldset.docurl > div > div > p.help {
    padding-left: 130px;
    margin-left: 10px;
}

fieldset.tagging > div > div > div.help {
    padding-left: 50px;
    margin-left: 10px;
}

fieldset.tagging > div > div > p.help {
    padding-left: 50px;
    margin-left: 10px;
}

.inline-related.tabular fieldset.module table{
    width: 80%;
}

.inline-group .tabular tr.has_original td {
    padding: 2px;
    width: 1px;
}

.inline-group .tabular tr td.original {
    padding: 2px;
    width: 1px;
}

.inline-group thead th {
    padding: 8px 10px;
    color: #000000;
}

td.field-key, td.field-value {
    padding: 2px;
    width: 400px;
}

td.field-key input {
    width: 450px;
    font-size: 14px;
}

td.field-value input {
    width: 450px;
    font-size: 14px;
}

select {
    min-width: 100px;
    background: #F6F6F6;
}

div.tabular.inline-related thead th:nth-of-type(1) {
    width: 400px;
}

div.tabular.inline-related thead th:nth-of-type(2) {
    width: 500px;
}

div.tabular.inline-related thead th:last-of-type {
    width: 80px;
    text-align: left;
}

div.tabular.inline-related tbody tr td:last-of-type {
    width: 80px;
}

tbody td.delete {
    text-align: center;
}

div.results thead th:first-of-type {
    width: 280px;
}

div.results thead th:nth-of-type(2) {
    width: 80px;
}

div.results thead th:nth-of-type(3) {
    width: 180px;
}

div.results thead th:last-of-type {
    width: 80px;
}

div.module table#change-history > tbody th:nth-of-type(1) {
    width: 150px;
}


#changelist-filter {
    width: 150px;
    text-align: left;
}

.change-list tbody th a, td{
    font-size: 14px;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 180px;
}

form#metric_form .aligned ul{
    display:none;
    background-color: white;
    border: 0.1px solid gray;
    margin-left: 60px;
    width: 300px;
    position: absolute;
    z-index: 10;
}

form#metric_form .aligned ul li{
    padding: 5px;
}
