td.original p {
    visibility: hidden
}

.inline-group .tabular tr.has_original td {
    padding: 2px;
}

td.field-service_flavour, td.field-metric, td.field-fqan, td.delete {
    padding: 2px;
}

td.delete {
    text-align: center;
}

td.field-service_flavour input {
    width: 300px;
}

td.field-metric input {
    width: 300px;
}

td.field-fqan input {
    width: 200px;
}

#content {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#content-main {
    float: left;
    width: 1000px;
}

#changelist-filter {
    width: 150px;
    text-align: left;
}

.namespace {
    vertical-align: middle;
    color: #666666;
    font-size: 12px;
    font-weight: bold !important;
}

.change-list tbody th a, td {
    font-size: 14px;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 180px;
}

.stats {
    color: #666;
    border-bottom: 1px solid #eee;
    background: #fff;
    overflow: hidden;
    font-size: 0.9em;
}

select {
    min-width: 100px;
    background: #F6F6F6;
}
