{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      {% if request.user.is_superuser %}
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">Admin</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      {% endif %}
      <a href="{% url 'admin:poem_profile_changelist' %}">Profiles</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      {{ cl.opts.verbose_name_plural|capfirst }}
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{% url 'admin:poem_probe_changelist' %}">Probes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{% url 'admin:poem_metric_changelist' %}">Metrics</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{% url 'admin:poem_aggregation_changelist' %}">Aggregations</a>
    </div>
  {% endblock %}
{% endif %}

{% block content_title %}
  <h1>List of services</h1>
{% endblock %}

{% block content %}
  {% if servicedata %}
    {% regroup servicedata|dictsort:"service_area" by service_area as data_by_servicearea %}
    <table>
      <thead>
        <tr><th>Service area</th><th>Service name</th><th>Service types</th><th>Metrics</th><th>Probes</th></tr>
      </thead>
      <tbody>
        {% for data0 in data_by_servicearea %}
          {% regroup data0.list|dictsort:"service_name" by service_name as data0_by_servicename %}
            {% for data1 in data0_by_servicename %}
            {% with forloop.counter as outer_counter %}
              {% regroup data1.list|dictsort:"service_type" by service_type as data1_by_servicetype %}
              {% for data2 in data1_by_servicetype %} {# forloop.parentloop #}
                {% for data in data2.list %} {# forloop.first #}
                  <tr>
                    {% if forloop.first %}
                      {% if forloop.parentloop.first %}
                        {% if outer_counter == 1 %}
                          <td rowspan="{{ data0.list|length }}">{{ data0.grouper }}</td>
                        {% endif %}
                        <td rowspan="{{ data2.list|length }}">{{ data1.grouper }}</td>
                      {% endif %}
                      <td rowspan="{{ data2.list|length }}">{{ data2.grouper }}</td>
                    {% endif %}
                    <td><a href="{% url 'admin:poem_metric_change' object_id=data.metric_id %}">{{ data.metric }}</a></td>
                    <td><a href="{% url 'admin:poem_probe_change' object_id=data.probe_id %}">{{ data.probe }}</a></td>
                  </tr>
                {% endfor %}
              {% endfor %}
            {% endwith %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
