{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_list admin_modify %}

{% block usertools %}
  <div id="user-tools">
      {% trans 'Welcome,' %}
      <strong>{% firstof user.get_short_name user.get_username %}
        {% if user.groupsofmetrics.count %}
          ({% for group in user.groupsofmetrics.all %}{{ group.name }}{% if not forloop.last %},{% endif %}{% if forloop.last %}){% endif %} {% endfor %}
        {% endif %}
      </strong>.
      {% block userlinks %}
          <a href="{% url 'admin:logout' %}">
          {% trans 'Log out' %}</a>
      {% endblock %}
  </div>
{% endblock %}


{% if not is_popup %}
  {% block breadcrumbs %}
  <div class="breadcrumbs">
    {% if request.user.is_superuser %}
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">Admin</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
    <a href="{% url 'admin:poem_profile_changelist' %}">Profiles</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{% url 'admin:poem_service_changelist' %}">Services</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_probe_changelist' %}">Probes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    {% if has_change_permission %}
      <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    {% else %}
      {{ opts.verbose_name_plural|capfirst }}
    {% endif %}
    {% if clone_view %}
      &rsaquo;
      <a href="{% url 'admin:poem_metric_change' metric_id %}">{{ metric_name }}</a>
      &rsaquo;
    {% else %}
      &rsaquo;
    {% endif %}
    {% if add %}
      {% trans 'Add' %} {{ opts.verbose_name }}
    {% else %}
      {{ original|truncatewords:"18" }}
    {% endif %}
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_aggregation_changelist' %}">Aggregations</a>
  </div>
  {% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    {% if user.is_superuser or perms.poem.groupown_metric %}
      {% if include_clone_link %}
        <li><a href="clone/">{{ clone_verbose_name }}</a></li>
      {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
      <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
      </li>
    {% endif %}
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}
<h2 style="font-weight: 400; padding:8px; color:white; font-size:12px; letter-spacing:0.5px; text-transform:uppercase; background:#79AEC8;">Metric configuration</h2>
</br>
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% if user.is_superuser or perms.poem.groupown_metric %}
  {% submit_row %}
{% else %}
  <div class="submit-row"><center> This is a read-only instance, please request the corresponding permissions to perform any changes in this form. </center></div>
{% endif %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.metricautocomplete').on('click', function() {
      var gr = $('#id_group :selected').text();
      var json_metrics_group = '/poem/api/v2/internal/metrics/' + gr;
      $.getJSON(json_metrics_group).done(function(json) {
        $('.metricautocomplete').autocomplete();
        $('.metricautocomplete').autocomplete({minLength: 0, source: json['result']});
        $('.metricautocomplete').autocomplete("search", "");
      });
    });

    function hideIt() {
      var undisplay = new Array('metricprobeexecutable', 'metricattribute', 'metricdependancy', 
                                'metricconfig', 'metricparameter', 'metricfiles', 
                                'metricfileparameter');
      undisplay.forEach(function hideIt(element) {
        target = element + '_set-group';
        $('#' + target).css({'display': 'none'});
      })

    }

    function showAll() {
      $('.inline-group').css({'display': 'block'})
    }

    var metrictype_selected = $('#id_mtype :selected').text().toLowerCase();
    if (metrictype_selected === 'passive') {
      hideIt();
    }

    var metrictype = $('#id_mtype');
    metrictype.on('change', function () {
			var metrictype_selected = $('#id_mtype :selected').text().toLowerCase();
			if (metrictype_selected === 'passive') {
				hideIt();
			} else if (metrictype_selected === 'active') {
        showAll();
      }
    })

  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    var field = $('#id_probeversion');
    var name = $('#id_probeversion').val();
    var json_probe_info = '/poem/api/v2/internal/probes/' + name.split(" ")[0];
    $.getJSON(json_probe_info).done(function(json) {
        var items = [];
        items.push("<ul class=probeinfo> ");
        items.push("<li><a href='/poem/admin/poem/probe/"+json.id+"/change/'>"+json.name+"</a></li>");
        items.push(" <li> "+json.description+" </li>");
        items.push(" <li> "+json.comment+" </li>");
        items.push(" </ul>");
        html = items.join("");
        $('.field-box.field-probeversion').append(html);
      });
    field.hover(
      function() {
        $('ul.probeinfo').slideDown('medium').delay(1500);
      },
      function() {
        $('ul.probeinfo').slideUp('medium');
      }
    );
   });
</script>

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
