#argo-contentwrap {
  background-color: white;
}
#sidebar-grow {
  background-color: white;
  margin-bottom: 1px;
}
#argo-nav {
  background-color: #416090;
}

#argo-breadcrumb {
  background-color: #ecf0f5;
  margin-left: 20px;
  margin-top: 15px;
}

#sidebar-col {
  max-width: 215px;
}

#argo-breadcrumb > ol {
  background-color: #ecf0f5;
}

a:link {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.table > :not(:first-child) {
  border-top: 0 !important;
}