#argo-footer {
  background-color: #ffffff;
}

#argo-navbar-logout {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #416090;
}
#argo-navbar-logout:hover {
  color: #ffffff;
  background-color: #31496d;
}

#argo-navlinks {
  background-color: #ffffff;
}

.argo-autocomplete-menu {
  display: block;
  width: 94%;
  color: #495057;
  position: absolute;
  background-color: white;
  z-index: 1000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow-y: auto;
  max-height: 400px;
}

.argo-autocomplete-entries {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}

.argo-autocomplete-entries-highlighted {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #4A90D9;
  color: white;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}
