#argo-footer {
  background-color: #ffffff;
  max-height: 92px;
}

#argo-loginfooter {
  background-color: #ffffff;
  max-height: 155px;
}

#argo-navbar-logout {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #416090;
}
#argo-navbar-logout:hover {
  color: #ffffff;
  background-color: #31496d;
}

#argo-navlinks {
  background-color: #ffffff;
}
