{% extends "admin/index.html" %}
{% load i18n %}

{% if not is_popup %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% blocktrans %}Admin{% endblocktrans %}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_profile_changelist' %}">Profiles</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_service_changelist' %}">Services</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_probe_changelist' %}">Probes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_metric_changelist' %}">Metrics</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'admin:poem_aggregation_changelist' %}">Aggregations</a>
  </div>
{% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

