{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'POEM' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'POEM' %}</h1>
{% endblock %}

{% block usertools %}
  <div id="user-tools">
      {% trans 'Welcome,' %}
      <strong>{% firstof user.get_short_name user.get_username %}
      </strong>.
      {% block userlinks %}
          <a href="{% url 'admin:logout' %}">
          {% trans 'Log out' %}</a>
      {% endblock %}
  </div>
{% endblock %}


{% block nav-global %}{% endblock %}
