{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block usertools %}
  <div id="user-tools">
      {% trans 'Welcome,' %}
      <strong>{% firstof user.get_short_name user.get_username %}
        {% if user.groupsofprobes.count %}
          ({% for group in user.groupsofprobes.all %}{{ group.name }}{% if not forloop.last %},{% endif %}{% if forloop.last %}){% endif %}
          {% endfor %}
        {% endif %}
      </strong>.
      {% block userlinks %}
          <a href="{% url 'admin:logout' %}">
          {% trans 'Log out' %}</a>
      {% endblock %}
  </div>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      {% if request.user.is_superuser %}
        <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">Admin</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      {% endif %}
      <a href="{% url 'admin:poem_profile_changelist' %}">Profiles</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{% url 'admin:poem_service_changelist' %}">Services</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      {{ cl.opts.verbose_name_plural|capfirst }}
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{% url 'admin:poem_metric_changelist' %}">Metrics</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{% url 'admin:poem_aggregation_changelist' %}">Aggregations</a>
    </div>
  {% endblock %}
{% endif %}
